.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer h4 {
  font-size: 16px;
  color: #ff5912;
}

.site-footer {
  background: #fff;
  padding: 60px 0 40px 0;
  font-size: 14px;
  color: #28313b;
}

.red {
  background: red;
}

.copyright {
  margin-top: 20px;
}

ul.footer-nav a {
  color: #28313b;
  text-decoration: none;
}

ul.footer-nav a:hover {
  color: #ff5912;
}

ul.footer-nav .active {
  color: #ff5912;
}

ul.footer-nav li {
  margin-bottom: 15px;
}

.payment-img {
  width: 25px;
  height: 17px;
  background-image: url(../img/payment_bg.png);
  display: inline-block;
}

.amex {
  background-position: -1px -1px;
}

.second {
  background-position: -36px -1px;
}

.visa {
  background-position: -72px -1px;
}

.mastecard {
  background-position: -108px -1px;
}

.grey {
  background-position: -144px -1px;
}
