* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  background: #f6f8f9;
  font-family: Aril, Tahoma, sans-serif;
  color: #44525e;
}

.right {
  float: right;
}

.left {
  float: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.text-orange {
  color: #ff5912;
}

.orange {
  background: #ff5912;
}

.white {
  background: #fff;
}

p {
  margin: 0;
}

.products-h1 {
  margin-top: 100px;
}

h3 {
  margin: 70px 0 20px 0;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

h3 span {
  color: #ff7013;
}

.section-description {
  text-align: center;
  margin: 20px 0 75px 0;
}

.cost {
  color: #ff7013;
  font-weight: bold;
}

/* -------------- grid------------------- */

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  margin: 0;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.block-1170 {
  width: 97.5%;
  min-height: 100px;
  float: left;
  margin: 0 1.25%;
}

.block-900 {
  width: 72.5%;
  min-height: 100px;
  float: left;
  margin: 0 1.25%;
}

.block-770 {
  width: 64.16666%;
  min-height: 100px;
  float: left;
  margin: 0 1.25%;
}

.block-670 {
  width: 58.3333%;
  min-height: 100px;
  float: left;
  margin: 0 1.25%;
}

.block-570 {
  width: 47.5%;
  min-height: 100px;
  float: left;
  margin: 0 1.25%;
}

.block-370 {
  width: 30.83333%;
  min-height: 100px;
  float: left;
  margin: 0 1.25%;
}

.block-300 {
  width: 22.5%;
  min-height: 100px;
  float: left;
  margin: 0 1.25%;
}

.block-270 {
  width: 20%;
  min-height: 100px;
  float: left;
  margin: 0 1.25%;
}

.block-170 {
  width: 14.166666%;
  min-height: 100px;
  float: left;
  margin: 0 1.25%;
}

/* grid end  */

.goods-block {
  margin: 80px 0;
}

.goods-cart {
  min-height: 350px;
  background: #fff;
  text-align: center;
  font-size: 18px;
  margin: 0 0 35px 0;
}

.goods-cart img {
  margin-top: 30px;
}

.goods-cart .goods-name {
  color: #43525d;
  margin: 20px 0;
}

.goods-cart .cost {
  margin-top: 15px;
  color: #ff7013;
}

/* best sale------------------ */

.best-sales {
  background: #fff;
  padding: 20px;
}

.best-sales img {
  max-width: 40%;
}

.best-sales-description {
  width: 60%;
}

.best-sales-description h4 {
  margin-top: 0;
}

.best-sales-description .stars img {
  max-width: 100%;
  position: relative;
  top: 5px;
}

.best-sales-description .cost {
  display: inline-block;
  width: 50%;
  text-align: right;
}

/* best sale end------------------ */

/* letter-------------------------- */

.letter {
  background: #fff;
  margin: 120px 0;
  min-height: 100px;
  padding: 20px;
  line-height: 100px;
}

.join-us {
  padding: 15px 25px;
  border: none;
  color: #fff;
}

/* divider---------------- */

.divider {
  min-height: 60px;
  margin: 80px 0 115px 0;
  line-height: 60px;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/* slider-on-top-------------------- */

.slider-on-top {
  /* margin-top: 0; */
  overflow: hidden;
  width: 50%;

  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.slider-on-top p {
  margin: 20px 0;
}

.slider-on-top-bg {
  min-height: 650px;
  background-image: url("../img/slider_1.png");
  background-size: cover;

  display: flex;

  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
